.banner {
	display: flex;
	align-items: center;
}
.scroll-btn {
	height: 130px;
	width: 50px;
	background-color: greenyellow;
}
button {
	padding: 0;
	height: 100px;
	width: 100px;
	margin: 0 0.3rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
#large-view {
	border: 1px solid red;
	padding: 1rem;
}
.buttons {
	width: 400px;
	padding: 1rem;
	border: 1px solid green;
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
}

.buttons img {
	width: 100px;
	height: 100px;
}
